:root {
	--color-white: #ffffff;
	--color-black: #181818;

	--color-lavender-500: #9674e5;
	--color-lavender-600: #8257e5;

	--color-purple-100: #d9cdf7;
	--color-purple-500: #6a617f;
	--color-purple-600: #3c3748;
	--color-purple-700: #1c162c;
	--color-purple-800: #130f1e;
	--color-purple-900: #0b0911;

	--background-primary-color: var(--color-purple-900);
	--background-secondary-color: var(--color-purple-700);

	--typography-title: 700 32px/1 "Inter", sans-serif;
	--typography-lead: 400 19.21px/23px "Roboto", sans-serif;
	--typography-caption: 400 11px/13px "Roboto", sans-serif;
	--typography-button-label: 500 14px/1.7 "Inter", sans-serif;

  --sidebar-width: 406px;
}
